body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  position: relative;
}

h3 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

#search-button {
  margin-top: 10px;
  border-radius: 5px;
}

#search-box {
  height: 200px;
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #f4511e !important;
}
.navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.scroll-list {
  font-size: 14px;
 max-height:600px; 
 overflow:hidden; 
 overflow-y:scroll;
}

.brewery {
  text-align: left;
}

.brewery-img {
  margin-right: 15px;
}

#search-results, #beer-list, #beer-ratings, #beer-thumbs{
  background-color: #282E34;
  font-size:25px;
  color: #f7f7f7;
}

#beer-thumbs {
  width: 600px;
  margin: auto;
}

#location-search input{
margin-left: 90px;
}

#search-brewery, #search-beer {
  margin-left: 180px;
}

#the-map{
  height: 600px;
}

#location-search, #brewery-search, #beer-search {
  background-image: url("../images/head.jpg");
}

.form-position {
  min-height: 500px;
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  opacity: 0.9;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/brick.jpg");
  min-height: 600px;
}
.bgimg-2 {
  background-image: url("../images/taps.jpg");
  min-height: 600px;
}
.bgimg-3 {
  background-image: url("../images/craftbeer.jpg");
  min-height: 500px;
}
.bgimg-4 {
  background-image: url("../images/beer.jpg");
  min-height: 600px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.glyphicon {
  font-size: 20px;
  margin-bottom: 10px;
  color: #f4511e;
}

footer {
  text-align: center;
  background: #2d2d30;
  color: #d5d5d5 !important;
  border-color: transparent;
}

.brewery *{
  display: inline-block;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}